<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'birthday_tracker/style.css' %}">
    <link rel = "icon" href = "{% static 'birthday_tracker/images/logo.png' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'birthday_tracker:index' %}">Calendar</a>
      <a class = "active" href="{% url 'birthday_tracker:input' %}">Input Birthday</a>
    </div>
    <div class="input-box center-box">
      <form action = "{% url 'birthday_tracker:insert_input' %}" method = "post">
        {% csrf_token %}
        <div>
          <label for = "name">Enter your name</label><br>
          <input id = "name" type = "text" name = "name" placeholder = "Name" /><br>
        </div>
        <div>
          <label for = "instagram">Enter your instagram ID</label><br>
          <input id = "instagram" type = "text" name = "instagram" placeholder = "Instagram"/><br>
        </div>
        <div>
          <label for "birthdate">Enter when you were born</label><br>
          <input id = "birthdate" type = "date" name = "birthdate" placeholder = "Birthdate"/><br>
        </div>
        <button id = "insert-data-button" class = "submit-form-button" type = 'submit'>Insert Data</button>
      </form>
    </div>
  </body>
</html>
