{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% if messages %}
  {% for message in messages %}
    <div>
      <strong>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
<form action="{% url 'blog:login' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Log In</legend>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value = "Submit">
  </fieldset>
</form>
