<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel = "icon" href = "{% static 'blog/images/logo.png' %}">
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <div class="topnav">
      <a href="{% url 'home' %}">Home</a>
      <a class = "active" href="{% url 'blog:index' %}">Blog</a>
      <a href="{% url 'blog:contact' %}">Contact</a>
      {% if request.user.is_superuser %}
      <a href="{% url 'blog:add_post' %}">+ New Post</a>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <a id = "signup-button" href="{% url 'blog:signup' %}">Sign Up</a>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a id = "logout-button" href="{% url 'blog:logout' %}">Log Out</a>
      <div>
        Logged in as
        {% if request.user.is_superuser %}
        admin_{{ request.user.username }}
        {% else %}
        {{ request.user.first_name }}
        {% endif %}
      </div>
      {% else %}
      <a id = "login-button" href="{% url 'blog:login' %}">Log In</a>
      {% endif %}
    </div>
    <form action="{% url 'blog:signup' %}" method="post">
      {% csrf_token %}
      <div class="login-box">
        <h1 style = "text-align: center;">Sign Up</h1>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value=""><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="re_password" id >Re-enter Password:</label><br>
        <input type="password" id = "re_password" name="re_password"><br>
        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name" value=""><br><br>
        <input class = "submit-form-button" type="submit" value = "Submit"><br>
        {% if error_message %}
        <strong>{{ error_message }}</strong>
        {% endif %}
      </div>
    </form>
  </body>
</html>
