@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303841;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
}

body {
  background-color: #303841;
}

.pdf-view {
  height: 100vh;
  width: 100vw;
}

#logout-button {
  float: right;
}

#login-button {
  float: right;
}

#signup-button {
  float: right;
}

.project-box {
  width: 100%;
}

.project-box h1 {
  text-align: center;
}

.cv-link {
  text-decoration: none;
  color: #00adb5;
}

.intro {
  padding-left: 30px;
}

.intro:first-of-type {
  padding-top: 30px;
}

.resize {
  width = 400px;
  height = auto;
}

.container {
  padding: 100px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303841;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 25px;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300
  margin-bottom: 0px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav div {
  float: right;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a.active {
  background-color: #00adb5;
  color: white;
}

.topnav a:hover {
  background-color: #00adb5;
  color: black;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00adb5;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #00adb5;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    right: -30px;
    transform: translateX(50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -30px;
    transform: translateX(-50%);
  }
  .timeline ul li:hover::after {
    background-color: #eeeeee;
  }
}
