<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vertical Timeline</title>
</head>
<body>
  <h1 class = "intro"> Let me introduce myself</h1>
  <h1 class = "intro"> Undergraduate of Computer Science</h1>
  <h1 class = "intro"> I love to explore new things and subjects!</h1>
  <div class="container">
    <div class="timeline">
      <ul>
        <li>
          <div class="timeline-content">
            <h1>TK Plus Penabur Cirebon</h1>
            <p>Where it all started 🥳</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>SD Plus Penabur Cirebon</h1>
            <p>Fun times 😎</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>SMPK Penabur Cirebon</h1>
            <p>Represented my school for a few local math competitions</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>SMAK Penabur Gading Serpong</h1>
            <p>Started becoming a nerd 🤓
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
